body  {
  background-color: lightblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h1  {
  color:navy;
  margin-left: 20px;
}

table,
td {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

thead,
tfoot,
tbody > tr > th {
  background-color: black;
  color: antiquewhite;
}

ol[type="A"] {
  color:blueviolet;
}

body > ul, ol, li {
  padding: 2px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

h6  {
  padding-top: 30px;
}

div .doge {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  height: 100px;
  width: 100px;
  border: 5px black;
}

#doge_pic.doge  {
  height: 100px;
  width: 100px;
}

footer {
  padding-top: 50px;
}


