{% extends 'blog/base.html' %}

{% block content %}

<a href="{% url 'blog:filter_by_published'%}">filter posts by published date</a>
<a href="{% url 'blog:post_by_author'%}">order posts by author</a>     
  {% for post in posts %}
    <article class="post">
      <h2><a href="">{{ post.title }}</a></h2>
      <p>{{ post.text|linebreaksbr }}</p>
      <time class="date">published: {{ post.published_date }}</time>
      <a href="{% url 'blog:edit' pk=post.pk %}">edit</a>
    </article>
  {% endfor %}
{% endblock %}


