{% extends 'blog/base.html' %}

{% block content %}
  <form method="post" action="{% url 'blog:post_list' %}">{% csrf_token %}
      Filter: {{ form.filter_by }} {{ form.filter_string }}
      Order: {{ form.order_by }}  
      <button type="button" class="btn btn-outline-secondary btn-sm">Submit</button>
  </form>
  {% for post in posts %}
    <article class="post">
      <h2><a href="">{{ post.title }}</a></h2>
      <p>{{ post.text|linebreaksbr }}</p>
      <time class="date">published: {{ post.published_date }}</time>
      <a href="{% url 'blog:edit' pk=post.pk %}">edit</a>
    </article>
  {% endfor %}
{% endblock %}


