{% extends 'blog/base.html' %}

{% block content %}
  <!-- Form for sorting posts -->
  <div class="btn-group">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Filter Posts
      </button>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <form class="px-4 py-3">{% csrf_token %}
          <select class="form-select-sm" aria-label="Default select example" name="choice"> 
            <option selected>Select Option</option>
            <option value="1">Text</option>
          </select>
          <div class="mb-3">
            <input type="text" class="form-control-sm" name="filter" id="exampleFormControlTextarea1" placeholder="filter text">
          </div>
          <select class="form-select-sm" aria-label="Default select example" name="order"> 
            <option selected>Date Published</option>
            <option value="1">Ascending</option>
            <option value="2">Descending</option>
          </select>
          <button type="submit" class="btn btn-outline-secondary btn-sm">Submit</button>
        </form>
      </ul>
    </div>
  </div>

  <!-- Display posts -->
  {% for post in posts %}
    <article class="post">
      <h2><a href="">{{ post.title }}</a></h2>
      <p>{{ post.text|linebreaksbr }}</p>
      <time class="date">published: {{ post.published_date }}</time>
      <a href="{% url 'blog:edit' pk=post.pk %}">edit</a>
    </article>
  {% endfor %}

{% endblock %}


